cat <<Han

<?xml version="1.0" encoding="utf-8"?>
<resource dir="file:///android_asset/Configuration_File" />
<resource dir="file:///android_asset/samples" />
<resource dir="file:///android_asset/usr/pages/display" />

<group title="温馨提示">
    <text>
        <desc>功能介绍：比如软件的应用商店或者应用管理</desc>
    </text>
</group>

<group title="功能">
    <pages>

        <page title="应用程序管理专区" activity="am start com.root.system/com.root.system.activities.ActivityApplistions" />
        
        <page title="应用功能区" config-sh="cat \$Pages/APK.xml" locked="$LOCKED" />
    
        <page title="Termux专区" config-sh="cat \$Pages/Termux.xml" locked="$LOCKED">
            <lock>
                if [[ -d "$DATA_DIR/com.termux" &#38;&#38; $Have_ROOT ]]; then
                    echo 'unlocked'
                else
                    echo '未安装 Termux 应用'
                fi
            </lock>
        </page>
           <page title="应用偏见" activity="am start com.root.system/com.root.system.activities.ActivityFreezeApps2" />
           
        <page title="LSPosed域功能" config-sh="cat \$Pages/LSPosed.xml" visible="sh ./support/lspoesd.sh" />
        
            </pages>
             
</group>

Han
