cat <<Han
<?xml version="1.0" encoding="utf-8"?>
<resource dir="file:///android_asset/Configuration_File" />
<resource dir="file:///android_asset/samples" />
<resource dir="file:///android_asset/usr/pages/display" />


<group title="温馨提示">
    <text>
        <desc>功能介绍：部分功能不用Magisk就可以使用</desc>
    </text>
</group>

<group title="功能专区">
    
        <page title="系统相关查看与调试" config-sh="cat \$Pages/WanJi.xml"/>
        <page title="系统附加功能" activity="am start com.root.system/com.root.system.activities.ActivityAddin" />
        <page title="性能记录" activity="am start com.root.system/com.root.system.activities.ActivityFpsChart" />
        <page title="系统场景" activity="am start com.root.system/com.root.system.activities.ActivitySystemScene" />
        
        <page title="Dynamic System Updates" config-sh="cat \$Pages/dsu.xml" visible="sh ./support/dsu.sh" />
        
            <page activity="am start-activity com.root.system/com.root.system.activities.ActivityProcess\$ActivityProcess">
            <title>进程管理</title>
            </page>
    
</group>
                
<group title="针对功能区">
                
            <page title="AOSP专区" config-sh="cat \$Pages/aosp.xml" visible="sh ./support/Check_Ui.sh" />
            
           <!--> <page title="ColorOS专区" config-sh="cat \$Pages/OriginOS.xml" visible="sh ./support/Check_Ui_originos.sh" >
            <lock>
                    echo '公测Beta4.0开放'
                
            </lock>
        </page><-->
            
            <page title="OriginOS专区" config-sh="cat \$Pages/OriginOS.xml" visible="sh ./support/Check_Ui_originos.sh" />
            
           
            <page title="MIUI专区" config-sh="cat \$Pages/MIUI.xml" visible="sh ./support/Check_Ui_miui.sh" />
        </group>
Han
